<IfModule mod_rewrite.c>
    # Rewrite rule to front controller
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_URI} ^.*$

    # Open only public folder
    RewriteCond %{REQUEST_URI} !public
    RewriteCond %{REQUEST_URI} !(\.jpg|\.jpeg|\.png)$
    RewriteRule ^(.*)$ /index.php [L,NC]
</IfModule>